*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: rgb(0, 1, 2);
  
}
.marz{
justify-content: center;
flex-direction: column;
margin: 2%;

}
.marz img {
    height: 300px;
    width: 300px;


}
body{
    background-image: url( image/puti\ 1.jpg);
}

